// =================================================================
// 	Siix Music
// 	Base
// =================================================================

html {
	font-size: 1.1em;
}

body {
	@include transition(all 0.5s ease-in-out);
	position: relative;
	background: lighten($colorBg, 1%);

	&.is-exiting {
		background: #fff;
	}
}
