html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 1.1em; }

body {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  background: #2b2b2b; }
  body.is-exiting {
    background: #fff; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.grid-container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: -moz-calc(100% - 60px);
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  max-width: 1400px; }
  @media (max-width: 350px) {
    .grid-container {
      width: -moz-calc(100% - 40px);
      width: -webkit-calc(100% - 40px);
      width: calc(100% - 40px); } }

.grid-inner {
  position: relative;
  display: block;
  margin: 0 auto;
  width: -moz-calc(100% - 120px);
  width: -webkit-calc(100% - 120px);
  width: calc(100% - 120px);
  max-width: 1200px; }
  @media (max-width: 960px) {
    .grid-inner {
      width: -moz-calc(100% - 60px);
      width: -webkit-calc(100% - 60px);
      width: calc(100% - 60px); } }
  @media (max-width: 350px) {
    .grid-inner {
      width: -moz-calc(100% - 40px);
      width: -webkit-calc(100% - 40px);
      width: calc(100% - 40px); } }

.row:after {
  display: block;
  clear: both;
  content: ''; }

@media (max-width: 760px) {
  width: 90%; }
.row + .row {
  margin-top: 30px; }

.right {
  float: right; }

.grid-spacer {
  width: 100%;
  height: 1px; }

[class^="col-"] {
  float: left;
  margin-right: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  [class^="col-"]:last-child {
    margin-right: 0%; }

.spacer {
  width: 100%;
  height: 1px; }

.row {
  clear: both;
  width: 100%;
  margin: 30px 0; }

.col-8 {
  position: relative;
  margin-right: 30px;
  float: left;
  width: -moz-calc(66.64% - 10px);
  width: -webkit-calc(66.64% - 10px);
  width: calc(66.64% - 10px); }
  @media (max-width: 960px) {
    .col-8 {
      margin-right: 20px;
      width: -moz-calc(66.64% - 8px);
      width: -webkit-calc(66.64% - 8px);
      width: calc(66.64% - 8px); } }

.shift-6 {
  position: relative;
  margin-left: -moz-calc(50% + 15px);
  margin-left: -webkit-calc(50% + 15px);
  margin-left: calc(50% + 15px); }
  @media (max-width: 960px) {
    .shift-6 {
      margin-left: -moz-calc(66.64% - 10px);
      margin-left: -webkit-calc(66.64% - 10px);
      margin-left: calc(66.64% - 10px); } }

.col-6 {
  position: relative;
  margin-right: 30px;
  float: left;
  width: -moz-calc(50% - 15px);
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px); }
  @media (max-width: 960px) {
    .col-6 {
      width: -moz-calc(50% - 15px);
      width: -webkit-calc(50% - 15px);
      width: calc(50% - 15px); } }

.shift-4 {
  position: relative;
  margin-left: -moz-calc(33.3% + 10px);
  margin-left: -webkit-calc(33.3% + 10px);
  margin-left: calc(33.3% + 10px); }
  @media (max-width: 960px) {
    .shift-4 {
      margin-left: -moz-calc(66.64% - 8px);
      margin-left: -webkit-calc(66.64% - 8px);
      margin-left: calc(66.64% - 8px); } }

.col-4 {
  margin-right: 30px;
  float: left;
  width: -moz-calc(33.3% - 20px);
  width: -webkit-calc(33.3% - 20px);
  width: calc(33.3% - 20px); }
  @media (max-width: 960px) {
    .col-4 {
      width: -moz-calc(50% - 10px);
      width: -webkit-calc(50% - 10px);
      width: calc(50% - 10px); } }

.shift-3 {
  margin-left: -moz-calc(25% + 6px);
  margin-left: -webkit-calc(25% + 6px);
  margin-left: calc(25% + 6px); }

.col-3 {
  margin-right: 24px;
  float: left;
  width: -moz-calc(25% - 18px);
  width: -webkit-calc(25% - 18px);
  width: calc(25% - 18px); }
  .col-3:nth-child(4) {
    margin-right: 0; }
  @media (max-width: 960px) {
    .col-3 {
      width: -moz-calc(50% - 18px);
      width: -webkit-calc(50% - 18px);
      width: calc(50% - 18px); }
      .col-3:nth-child(2) {
        margin-right: 0px; } }
  @media (max-width: 760px) {
    .col-3 {
      width: 100%; } }

.shift-2 {
  margin-left: -moz-calc(16.6667% + 0px);
  margin-left: -webkit-calc(16.6667% + 0px);
  margin-left: calc(16.6667% + 0px); }

.col-2 {
  margin-right: 24px;
  float: left;
  width: -moz-calc(16.6667% - 25px);
  width: -webkit-calc(16.6667% - 25px);
  width: calc(16.6667% - 25px); }

.shift-1 {
  margin-left: -moz-calc(8.33% + 2px);
  margin-left: -webkit-calc(8.33% + 2px);
  margin-left: calc(8.33% + 2px);
  display: block; }

.col-1 {
  width: -moz-calc(8.33% - 24px);
  width: -webkit-calc(8.33% - 24px);
  width: calc(8.33% - 24px);
  float: left;
  display: block; }

@font-face {
  font-family: GT;
  font-style: normal;
  font-weight: normal;
  src: url("sass/fonts/eurostileregular-webfont.eot?#iefix") format("embedded-opentype"), url("sass/fonts/eurostileregular-webfont.woff2") format("woff2"), url("sass/fonts/eurostileregular-webfont.woff") format("woff"), url("sass/fonts/eurostileregular-webfont.ttf") format("truetype"), url("sass/fonts/eurostileregular-webfont.svg#GT") format("svg"); }
@font-face {
  font-family: GTBold;
  font-style: normal;
  font-weight: normal;
  src: url("sass/fonts/eurostile-bold-webfont.eot?#iefix") format("embedded-opentype"), url("sass/fonts/eurostile-bold-webfont.woff2") format("woff2"), url("sass/fonts/eurostile-bold-webfont.woff") format("woff"), url("sass/fonts/eurostile-bold-webfont.ttf") format("truetype"), url("sass/fonts/eurostile-bold-webfont.svg#GTBold") format("svg"); }
body {
  font-family: "GT", sans-serif;
  font-size: 18px; }
  @media (max-width: 1130px) {
    body {
      font-size: 18px; } }
  @media (max-width: 960px) {
    body {
      font-size: 17px; } }
  @media (max-width: 760px) {
    body {
      font-size: 16px; } }
  @media (max-width: 350px) {
    body {
      font-size: 16px; } }

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.4; }

h1 {
  font-size: 1.602em; }

h2 {
  font-size: 1.424em; }

h3 {
  font-size: 1.266em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 1em;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-family: "GT", sans-serif; }

h5.underline {
  border-bottom: 1px solid #ddd; }

p {
  color: #3B3B3B;
  line-height: 1.5em;
  padding: 0.4em 0 0.4em 0; }

ul li {
  color: #3B3B3B; }

p.serif {
  font-size: 1.1em; }

p.large {
  font-size: 1.4em;
  line-height: 1.3;
  color: #3F3F3F; }

ol, ul {
  padding: 0.3em 0 0.3em 0; }

li {
  margin: 0.3em 0 0.3em; }

ol li {
  list-style-type: decimal; }

ul li {
  list-style-type: disc; }

span {
  color: #9b2b20; }

small, .font_small {
  font-size: 0.8em; }

.image {
  position: relative;
  width: 100%;
  display: block;
  background: #f2f2f2;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  position: relative; }
  .image:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .image > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .image iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-fles-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  float: left;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

/* Pagination Styles */
.swiper-pagination {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-right: 25px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  z-index: 100;
  position: absolute;
  opacity: 1; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 1; }

.swiper-pagination-bullet {
  width: 5px;
  height: 60px;
  display: inline-block;
  background: #fff;
  opacity: 0.5;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination {
  right: 0px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 7px; }

.swiper-controls {
  float: right; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-button-next, .swiper-button-prev {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  cursor: pointer;
  display: block;
  top: 0;
  right: 10px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background-image: url("images/arrow-up.svg");
  background-size: 80% 80%;
  background-position: center center;
  background-repeat: no-repeat;
  float: right;
  z-index: 10; }

.swiper-button-disabled {
  opacity: 0.2; }

.swiper-button-next {
  bottom: 0;
  top: auto;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

@media (max-width: 960px) {
  .swiper-button-next, .swiper-button-prev {
    right: 0;
    top: 15%; }

  .swiper-button-next.active {
    display: none; }

  .swiper-button-prev.active {
    display: none; }

  .swiper-button-next {
    bottom: 15%;
    top: auto; }

  .swiper-pagination.active {
    display: none; } }
.swiper-slide {
  text-align: left; }

form {
  padding-top: 7px;
  padding-bottom: 25px;
  height: auto;
  display: block;
  overflow: auto; }
  form .form-half {
    width: calc(50% - 15px);
    float: left;
    margin-right: 30px; }
    form .form-half:nth-child(even) {
      margin-right: 0; }
  form input[type="text"], form input[type="email"], form input[type="password"], form input[type="tel"], form input[type="submit"], form textarea, form button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    font-family: "GT", sans-serif;
    background: #3b3b3b;
    border: 0;
    color: #fff;
    font-size: 0.9em;
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus, form input[type="tel"]:focus, form input[type="submit"]:focus, form textarea:focus, form button:focus {
      outline: 0;
      border: 0;
      background: #474747; }
  form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    width: 100%;
    background: #383838;
    border: 0;
    font-family: "GT", sans-serif;
    color: #fff;
    padding: 10px 15px;
    position: relative;
    background-image: url(images/dropdown-arrows.svg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    font-size: 1em;
    margin: 10px 0;
    background-position: right center; }
    form select:focus {
      outline: 0; }
  form p {
    float: left;
    width: -moz-calc(50% - 13px);
    width: -webkit-calc(50% - 13px);
    width: calc(50% - 13px);
    padding: 0;
    opacity: 1; }
  form p:nth-child(even) {
    float: right; }
  form p:nth-child(6) {
    width: 100%; }
  form p:nth-child(7) {
    padding: 0;
    float: right;
    width: 40%; }
  form label {
    color: #fff;
    opacity: 0.8;
    font-size: 0.9em; }
  form textarea {
    resize: vertical;
    width: 100%; }
  form button {
    width: intrinsic;
    padding: 15px 30px;
    max-width: 150px;
    background: #9b2b20;
    cursor: pointer;
    color: #fff;
    float: right; }
    form button:hover {
      background: #222222; }
  form input[type="submit"] {
    margin: 0;
    background: #9b2b20; }
  form div.wpcf7-validation-errors {
    border: none;
    font-size: 0.9em;
    display: block;
    margin-top: 10px;
    width: 240px; }
  form strong.mc_error_msg {
    padding: 10px 0;
    font-size: 0.9em;
    color: #FF5B34;
    display: block; }
  form div.wpcf7-response-output {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    display: block;
    color: #fff;
    opacity: 0.8;
    font-size: 0.9em;
    line-height: 1.2em; }
  form span {
    font-size: 0.9em;
    color: #FF5B34;
    display: block;
    padding-bottom: 5px; }
  form .ajax-loader {
    display: none; }
  form span.wpcf7-not-valid-tip {
    color: #FF5B34; }

header {
  width: 20%;
  background: #1e1e1e;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  header .logo {
    width: 200px;
    display: block;
    margin: 70px auto 0 auto;
    height: auto; }
  header a.menu-trigger {
    display: none;
    margin-top: 22px;
    margin-right: 25px;
    font-size: 0.9em;
    float: right;
    color: #fff; }
  header .trigger-info {
    margin-top: 80px;
    position: relative;
    height: auto;
    padding: 25px; }
  header .trigger-info p {
    display: inline-block;
    line-height: 1.5;
    font-size: 0.9em;
    opacity: 0.8;
    color: #fff;
    cursor: pointer; }
    header .trigger-info p .last-word:after {
      background-image: url("images/info.svg");
      background-size: 100% 100%;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      width: 25px;
      height: 18px;
      overflow: visible; }
    header .trigger-info p:hover .last-word:after {
      background-image: url("images/info-hover.svg"); }
  header nav {
    margin-top: 10vh; }
    header nav ul {
      padding: 0; }
    header nav ul li {
      margin: 0;
      padding: 0; }
    header nav ul li a {
      font-size: 0.9em;
      color: #9b2b20;
      display: block;
      padding: 17px 20px 15px 20px;
      border-top: 1px solid #3B3A39;
      color: #fff;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    header nav ul li a:hover {
      color: #9b2b20; }
    header nav ul li:last-child {
      border-bottom: 1px solid #3B3A39; }
  header .social {
    width: 140px;
    margin: 0 auto;
    display: block;
    margin-top: 80px; }
    header .social li {
      float: left;
      list-style-type: none;
      padding-left: 25px; }
      header .social li:first-child {
        padding-left: 0; }
      header .social li a {
        color: #fff; }
      header .social li a:hover i {
        color: #9b2b20; }
  @media (max-width: 960px) {
    header {
      width: 100%;
      height: 60px; }
      header a.menu-trigger {
        display: block; }
      header nav {
        display: none;
        margin-top: 10px;
        background: #212121; }
        header nav ul li a {
          font-size: 1em; }
      header nav.active {
        display: block; }
      header .social {
        margin-top: 0;
        background: #212121;
        height: auto;
        overflow: auto;
        padding: 12px 0;
        width: 100%;
        display: none; }
        header .social li:first-child {
          padding-left: 25px; }
      header .social.active {
        display: block; }
      header .logo {
        margin-top: 15px;
        margin-left: 15px;
        width: 80px; } }

a {
  cursor: pointer;
  text-decoration: none; }

.hero {
  width: 80%;
  height: 100vh;
  overflow: hidden;
  float: right;
  position: relative; }
  .hero .swiper-slide {
    width: 100%;
    height: 100vh; }
  .hero .swiper-slide img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0; }
  .hero .slide-description {
    position: absolute;
    background: #262523;
    width: 400px;
    left: -moz-calc(50% - 200px);
    left: -webkit-calc(50% - 200px);
    left: calc(50% - 200px);
    z-index: 10;
    bottom: 0;
    padding: 25px 25px 10px 25px;
    height: auto;
    z-index: 100; }
    .hero .slide-description h5 {
      display: block;
      font-family: "GT", sans-serif;
      cursor: pointer; }
    .hero .slide-description h5:after {
      width: 25px;
      height: 25px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      content: "";
      background-image: url("images/arrow-up.svg");
      background-size: 100% 100%;
      background-position: 0 0;
      display: block;
      float: right; }
    .hero .slide-description .description-holder {
      display: none; }
    .hero .slide-description.active h5:after {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .hero .slide-description.active .description-holder {
      display: block; }
    .hero .slide-description p {
      color: #fff; }
  @media (max-width: 960px) {
    .hero {
      width: 100%; }
      .hero .swiper-slide {
        height: 100vh;
        width: auto; }
      .hero .slide-description {
        width: 100%;
        box-sizing: border-box;
        left: 0;
        z-index: 99999999999;
        position: absolute;
        background: #212121; }
      .hero .swiper-slide img {
        height: 100vh;
        width: auto; } }

.information {
  width: 50%;
  height: auto;
  box-sizing: border-box;
  padding: 40px;
  position: absolute;
  z-index: 100;
  top: 30vh;
  left: 20%;
  background: rgba(30, 30, 30, 0.95);
  display: none; }
  .information .exit {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50px;
    right: 25px;
    display: block;
    background-image: url("images/exit.svg");
    background-size: 100% 100%;
    background-position: 0 0;
    cursor: pointer; }
  .information p {
    color: #fff;
    font-size: 1em;
    opacity: 0.9; }
  .information p a {
    border-bottom: 2px solid #9b2b20;
    color: #fff; }
  .information h1 {
    color: #fff;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-family: "GTBold", sans-serif; }
  .information.active {
    display: block; }
  @media (max-width: 960px) {
    .information .col-6 {
      width: 100%;
      margin-top: 50px; }
    .information .exit {
      top: 35px;
      left: 35px; }
    .information .col-6 h1 {
      padding-top: 40px;
      font-size: 1.5em; } }

.work-with-us a {
  color: #fff;
  border-bottom: 2px solid #9b2b20;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .work-with-us a:hover {
    cursor: pointer;
    color: #9b2b20; }
.work-with-us .swiper-container {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  position: relative; }
.work-with-us .swiper-wrapper {
  position: relative; }
.work-with-us .swiper-holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
.work-with-us .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 40vh;
  overflow: hidden;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .work-with-us .swiper-slide img {
    width: 100%;
    height: auto; }
.work-with-us .swiper-button-next, .work-with-us .swiper-button-prev {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  cursor: pointer;
  display: block;
  top: 38%;
  left: 25px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background-image: url("images/arrow-up.svg");
  background-size: 80% 80%;
  background-position: center center;
  background-repeat: no-repeat;
  float: right;
  z-index: 10;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }
.work-with-us .swiper-button-next {
  right: 25px;
  left: auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }
.work-with-us form {
  padding-top: 10px; }
@media (max-width: 960px) {
  .work-with-us h4 {
    padding-top: 0px; }
  .work-with-us .col-4.shift-2 h4 {
    margin-top: 0;
    padding-top: 20px; } }

.contact {
  width: 80%;
  float: right;
  padding-top: 38px;
  padding-bottom: 0; }
  .contact .bottom-row {
    margin-top: 30px;
    border-top: 1px solid #3B3A39;
    padding-top: 50px;
    padding-bottom: 50px; }
  .contact .padding-top {
    padding-top: 30px;
    margin-top: 25px;
    border-top: 1px solid #3B3A39; }
  .contact h4 {
    margin: 25px 0 10px 0;
    color: #fff;
    font-size: 0.9em;
    display: inline-block; }
  .contact h5 {
    border-bottom: 0px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 0.9em; }
  .contact p {
    color: #fff;
    opacity: 0.8;
    font-size: 0.9em; }
  .contact .gmail_msg {
    color: #fff;
    opacity: 0.8;
    line-height: 1.3;
    padding-bottom: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 0.9em; }
    .contact .gmail_msg:hover {
      cursor: pointer; }
  .contact .gmail_msg a {
    opacity: 1;
    color: #fff;
    border-bottom: 2px solid #9b2b20;
    padding-bottom: 0;
    font-size: 1em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .contact .gmail_msg a:hover {
      color: #9b2b20;
      cursor: pointer; }
  .contact span.gmail_msg {
    opacity: 1; }
    .contact span.gmail_msg:hover {
      color: #9b2b20; }
  .contact footer {
    width: 100%;
    background: #262626;
    margin: 0;
    padding: 0;
    height: auto;
    padding: 30px 0; }
  .contact footer .row {
    margin: 0;
    padding: 0; }
  .contact footer p {
    font-size: 0.8em; }
  @media (max-width: 960px) {
    .contact {
      width: 100%; }
      .contact input[type="text"], .contact input[type="email"], .contact input[type="password"], .contact input[type="tel"], .contact input[type="submit"], .contact textarea, .contact button {
        margin-bottom: 0; }
      .contact .mc_form_inside input[type="text"], .contact .mc_form_inside input[type="email"] {
        margin-bottom: 20px; }
      .contact .col-4, .contact .col-3, .contact .col-6 {
        width: 100%; }
      .contact h4 {
        margin-top: 80px;
        margin-bottom: 0; }
      .contact h5 {
        padding: 20px 0; }
      .contact .shift-2 {
        margin-left: 0; }
      .contact p {
        margin-bottom: 20px;
        width: 100%; }
      .contact form {
        padding-top: 10px; }
      .contact .bottom-row {
        margin-top: 0; }
      .contact form p {
        padding-bottom: 0; } }

.jobs form p:nth-child(even) {
  float: right; }
.jobs form p:nth-child(4) {
  width: 100%; }
.jobs form p:nth-child(5) {
  padding: 0;
  float: right;
  width: 40%; }

/*# sourceMappingURL=style.css.map */
