// =================================================================
// 	Siix Music
// 	Forms
// =================================================================

form {
	padding-top: 7px;
	padding-bottom: 25px;
	height: auto;
	display: block;
	overflow: auto;

	.form-half {
		width: calc(50% - 15px);
		float: left;
		margin-right: 30px;

		&:nth-child(even) {
			margin-right: 0;
		}
	}

	input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="submit"], textarea, button {
		width: 100%;
		padding: 10px 15px;
		margin: 10px 0;
		font-family: $base-font-family;
		background: lighten($colorBg, 10%);
		border: 0;
		color: #fff;
		font-size: 0.9em;
		box-sizing: border-box;
		border-radius: 0;
		-webkit-appearance: none;
   		-moz-appearance: none;
   		appearance: none;

		&:focus {
			outline: 0;
			border: 0;
			background: lighten($colorBg, 15%);
		}
	}

	select {
	  -moz-appearance: none;
	  -webkit-appearance: none;
	  appearance: none;
	  border-radius: 0;
	  box-sizing: border-box;
	  width: 100%;
	  background: #383838;
	  border: 0;
	  font-family: $base-font-family;
	  color: #fff;
	  padding: 10px 15px;
	  position: relative;
	  background-image: url(images/dropdown-arrows.svg);
	  background-repeat: no-repeat;
	  background-size: 25px 25px;
	  font-size: 1em;
	  margin: 10px 0;
	  background-position: right center;

	  &:focus {
	    outline: 0;
	  }
	}


	p {
		float: left;
		@include calc(width, "50% - 13px");
		padding: 0;
		opacity: 1;
	}

	p:nth-child(even) {
		float: right;
	}

	p:nth-child(6) {
		width: 100%;
	}

	p:nth-child(7) {
		padding: 0;
		float: right;
		width: 40%;
	}

	label {
		color: #fff;
		opacity: 0.8;
		font-size: 0.9em;
	}

	textarea {
		resize: vertical;
		width: 100%;
	}

	button {
		width: intrinsic;
		padding: 15px 30px;
		max-width: 150px;
		background: $colorOne;
		cursor: pointer;
		color: #fff;
		float: right;

		&:hover {
			background: darken($colorType, 10%);
		}
	}

	input[type="submit"] {
		margin: 0;
		background: $colorOne;
	}

	div.wpcf7-validation-errors {
		border: none;
		font-size: 0.9em;
		display: block;
		margin-top: 10px;
		width: 240px;
	}

	strong.mc_error_msg {
		padding: 10px 0;
		font-size: 0.9em;
		color: #FF5B34;
		display: block;
	}

	div.wpcf7-response-output {
		padding: 0;
		margin: 0;
		margin-top:  50px;
		display: block;
		color: #fff;
		opacity: 0.8;
		font-size: 0.9em;
		line-height: 1.2em;
	}

	span {
		font-size: 0.9em;
		color: #FF5B34;
		display: block;
		padding-bottom: 5px;
	}

	.ajax-loader {
		display: none;
	}

	span.wpcf7-not-valid-tip {
		color: #FF5B34;
	}
}