// =================================================================
// 	Siix Music
// 	Header
// =================================================================

header {
	width: 20%;
	background: darken($colorBg, 1%);
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	.logo {
		width: 200px;
		display: block;
		margin: 70px auto 0 auto;
		height: auto;
	}

	a.menu-trigger {
		display: none;
		margin-top: 22px;
		margin-right: 25px;
		font-size: 0.9em;
		float: right;
		color: #fff;
	}

	.trigger-info {
		margin-top: 80px;
		position: relative;
		height: auto;
		padding: 25px;
	}

	.trigger-info p {
		display: inline-block;
		line-height: 1.5;
		font-size: 0.9em;
		opacity: 0.8;
		color: #fff;
		cursor: pointer;

		.last-word:after {
			background-image: url('images/info.svg');
			background-size: 100% 100%; 
		  	background-position: 0px 0px;
		  	background-repeat: no-repeat;
			content: '';
			display:inline-block;
			width: 25px;
			height: 18px;
			overflow: visible;
		}

		&:hover {

			.last-word:after {
				background-image: url('images/info-hover.svg');
			}
		}
	}

	nav {
		margin-top: 10vh;

		ul {
			padding: 0;
		}

		ul li {
			margin: 0;
			padding: 0;
		}

		ul li a {
			font-size: 0.9em;
			color: $colorOne;
			display: block;
			padding: 17px 20px 15px 20px;
			border-top: 1px solid $colorLines;
			color: #fff;
			@include transition(all, 0.3s, ease-in-out);
		}

		ul li a:hover {
			color: $colorOne;
		}

		ul li:last-child {
			border-bottom: 1px solid $colorLines;
		}
	}

	.social {
		width: 140px;
		margin: 0 auto;
		display: block;
		margin-top: 80px;
		
		li {
			float: left;
			list-style-type: none;
			padding-left: 25px;

			&:first-child {
				padding-left: 0;
			}
			
			a {
				color: #fff;
			}

			a:hover i {
				color: $colorOne;
			}
		}
	}

	@include mq("small", "max-width") { 
		width: 100%;
		height: 60px;

		a.menu-trigger {
			display: block;
		}

		nav {
			display: none;
			margin-top: 10px;
			background: $colorBg;

			ul li a {
				font-size: 1em;
			}
		}

		nav.active {
			display: block;
		}

		.social {
			margin-top: 0;
			background: $colorBg;
			height: auto;
			overflow: auto;
			padding: 12px 0;
			width: 100%;
			display: none;

			li:first-child {
				padding-left: 25px;
			}
		}

		.social.active {
			display: block;
		}

		.logo {
			margin-top: 15px;
			margin-left: 15px;
			width: 80px;
		}
	}
}